*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
} 
.container i {
    cursor: pointer;
    color: #00CCCC;
}
#body {
    background-color: #f1f2f6;
}
/* Header */
.mynav {
    background-color: black ;
    min-height: 50px;
}
#mysearch {
    padding: 10px 20px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: none;
    width: 300px;
    height: 35px;
}
#mysearch-acc {
    padding: 10px 20px;
    background-color: #8395a7;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: none;
    width: 300px;
    height: 35px;
    color: #ffffff;
}

#btn-search {
    background-color: #00CCCC;
}
.fa-search{
    color: aliceblue;
    position: absolute;
    margin-left: 270px;
}
/* Body */
.container-fluid i {
    cursor: pointer;
    color: #00CCCC;
}
.check {
    color: azure;
}















